<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/entry.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/list.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/form.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/endscreen.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% block body %}
            <div class="base-navbar">
                <h1 class="base-header">
                    <span class="neon"> UNIQUE CARS </span>
                    FOR SPECIAL MOMENTS
                </h1>   
            </div>
            <div class="sidebar">
                <div class="discount">
                    <div class="sidebar-header">DISCOUNTS</div>
                    <div class="discount-notice">
                        <div class="discount-percent">-20%</div>
                        <div class="discount-description">If you rented a car 3 or more times last month.</div>
                    </div>
                        <div class="discount-notice">
                        <div class="discount-percent">-10%</div>
                    <div class="discount-description">If rental time exceedes 7 days.</div>
                    </div>
                    <div class="discount-note">Discounts don't stack up.</div>
                </div>
                <div class="sidebar-header">ABOUT</div>
                <div class="about">
                    <div class="about-note">
                        UNIQUE CARS Car Hire was founded in 2006 to make renting a vintage car simple, easy and enjoyable.  We want to create a great experience so that you can celebrate a birthday, anniversary, wedding or other special occasion in real style.
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
