{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}

<div class="list-wrapper">
	<div class="list-title-bar">	
		<div class="list-title-first">BRAND</div>
		<div class="list-title">SEGMENT</div>
		<div class="list-title-last">PRICE PER DAY</div>
	</div>
	<div class="list">
		<form class="list-form" method="post" action="">
		    {% for key, car in cars %}
		    <input class="list-item-checkbox" type="radio" name="car" value="{{key}}" id="{{key}}"/>		    	
		    <label class="list-item" for="{{key}}">
	    		<div class="car-name">{{car['name']}}</div>
	    		<div class="car-segment">{{car['segment']}}</div>
				<div class="car-price">{{car['PLNperDay']}} PLN</div>
				<a class="list-item-link" href="{{ url('rent')}}?carId={{car['id']}}">
					<div class="list-item-button">
	    				<span>RENT</span>
	    			</div>
	    		</a>
		    </label>
			{% endfor %}
		</form>
		</div>
	</div>
</div>
{% endblock %}

