{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}

<div class="rent-wrapper">	
	<div class="rent-car-data">
		<div class="rent-form-header">CHOOSEN CAR</div>
		<div class="rent-car-property">
			<div class="rent-car-label">BRAND</div>
			<div class="rent-car-value car-name">{{formData.carName}}</div>
		</div>
		<div class="rent-car-property">
			<div class="rent-car-label">PRICE PER DAY</div>
			<div class="rent-car-value car-price">{{formData.pricePerDay}} PLN</div>
		</div>

		<div class="rent-car-property">
			<div class="rent-car-label">SEGMENT</div>
			<div class="rent-car-value car-price">{{formData.carSegment}}</div>
		</div>
	</div>
	<div class="rent-form-summary">
		<div class="rent-form-header rent-form-header">ORDER DETAILS</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">FIRST NAME</span>
			<span class="rent-form-value">{{formData.firstName}}</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">LAST NAME</span>
			<span class="rent-form-value">{{formData.lastName}}</span>
		</div>
				<div class="rent-form-property">
		    <span class="rent-form-label">EMAIL</span>
			<span class="rent-form-value">{{formData.email}}</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">SUM</span>
			<span class="rent-form-value">{{formData.initialAmount}} PLN</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">DISCOUNT</span>
			<span class="rent-form-value">- {{formData.discount}} PLN</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">TOTAL AMOUNT</span>
			<span class="rent-form-value total-amount">{{formData.totalAmount}} PLN</span>
		</div>
		<a  href="{{ url('payment') }}">
			<button class="rent-form-button">
				<span class=""> PAYMENT </span>
			</button>
		</a>
	</div>
</div>

{% endblock %}