{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}
<div class="rent-wrapper">
	<div class="rent-car-data">
		<div class="rent-form-header">CHOOSEN CAR</div>
		<div class="rent-car-property">
			<div class="rent-car-label">BRAND</div>
			<div class="rent-car-value car-name">{{carData['name']}}</div>
		</div>
		<div class="rent-car-property">
			<div class="rent-car-label">PRICE PER DAY</div>
			<div class="rent-car-value car-price">{{carData['PLNperDay']}} PLN</div>
		</div>

		<div class="rent-car-property">
			<div class="rent-car-label">SEGMENT</div>
			<div class="rent-car-value car-price">{{carData['segment']}}</div>
		</div>
	</div>

	<form class="rent-form" name="rentForm" method="post">
		<div class="rent-form-header">PLEASE ENTER YOUR DATA</div>
		<div class="rent-form-property">
		    <label class="rent-form-label" for="rent_form_email">EMAIL</label>
		    <input class="rent-form-input" 
		    	type="text" 
		    	id="rent_form_email" 
		    	name="rent_form[email]" 
		    	required="required"/>
		</div>
		<div class="rent-form-property">
		    <label class="rent-form-label" for="rent_form_firstName">FIRST NAME</label>
		    <input class="rent-form-input" 
		    	type="text" 
		    	id="rent_form_firstName" 
		    	name="rent_form[firstName]" 
		    	required="required"/>
		</div>
		<div class="rent-form-property">
		    <label class="rent-form-label" for="rent_form_lastName">LAST NAME</label>
		    <input class="rent-form-input" 
		    	type="text" 
		    	id="rent_form_lastName" 
		    	name="rent_form[lastName]" 
		    	required="required"/>
		</div>
		<div class="rent-form-property">
		    <label class="rent-form-label" for="rent_form_rentDays">RENTAL DURATION (DAYS) </label>
		    <input class="rent-form-input" 
		    	type="text" 
		    	id="rent_form_rentDays" 
		    	name="rent_form[rentDays]" 
		    	required="required"/>
		</div>
		<input type="hidden" id="rent_form_carId" name="rent_form[carId]" value="{{carData['id']}}">
		<input type="hidden" id="rent_form_carName" name="rent_form[carName]" value="{{carData['name']}}">
		<input type="hidden" id="rent_form_carSegment" name="rent_form[carSegment]" value="{{carData['segment']}}">
		<input type="hidden" id="rent_form_pricePerDay" name="rent_form[pricePerDay]" value="{{carData['PLNperDay']}}">
		{{ form_row(form._token) }}

		<input class="rent-form-button" type="submit" id="rent_form_confirm" name="rent_form[confirm]" value="CONFIRM DATA"></input>

	</form>
</div>
<div class="footer">
	<div class="footer-info">&#169 SYLWIA GRZEGOLEC & ARKADIUSZ JAKUBAS</div>
</div>
{% endblock %}