{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}

<div class="rent-wrapper">
	<div class="rent-car-data">
		<div class="rent-car-header">CHOOSEN CAR</div>
		<div class="rent-car-property car-name">
			<div class="rent-car-label">BRAND</div>
			{{carData['name']}}
		</div>
		
		<div class="rent-car-property car-segment">
			<div class="rent-car-label">SEGMENT</div>
			{{carData['segment']}}
		</div>
		
		<div class="rent-car-property car-price">
			<div class="rent-car-label">PRICE PER DAY</div>
			{{carData['PLNperDay']}} PLN
		</div>
	</div>

	<div class="rent-form-summary">
		<div class="rent-form-property">
		    <span class="rent-form-label">FIRST NAME</span>
			<span>{{formData.firstName}}</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">LAST NAME</span>
			<span>{{formData.lastName}}</span>
		</div>
				<div class="rent-form-property">
		    <span class="rent-form-label">EMAIL</span>
			<span>{{formData.email}}</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">SUM</span>
			<span>{{formData.initialAmount}} PLN</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">DISCOUNT</span>
			<span>- {{formData.discount}} PLN</span>
		</div>
		<div class="rent-form-property">
		    <span class="rent-form-label">TOTAL AMOUNT</span>
			<span>{{formData.totalAmount}} PLN</span>
		</div>

		<a class="rent-form-payment" href="https://ssl.dotpay.pl/test_payment/?id=721088&amount={{formData.totalAmount}}&description=Oplata+za+wypozyczenie+{{carData['name']}}&URL=http://v-ie.uek.krakow.pl/~s180360/app_dev.php/succesful_payment&URLC=http://v-ie.uek.krakow.pl/~s180360/app_dev.php/confirm_payment?carId={{carData['id']}}&firstname={{formData.firstName}}&lastname={{formData.lastName}}&email={{formData.email}}&type=3&api_version=dev">
			<div class="">
				<span>PAYMENT</span>
			</div>
		</a>

	</div>
</div>

{% endblock %}